body{
    text-align: center;
}
nav > ul >li{
    display: inline;
    margin: 20px;
    text-align: center;
    
}
nav{
    background-color: darkcyan;
}
main{
    margin: 10px;
    background-color: aquamarine;
}
main > ol > li{
     text-align: center;
     padding: 20px;
     border: 5x solid black;
}